.container {
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.card-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
}

/* =========dashboard layout========== */
.dashboard-layout {
  display: flex;
  min-height: 100vh;
}
/* ====== */

@media (min-width: 768px) {
  .btn-outline-secondary {
    display: none;
  }
}
